@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
@import './material-icons/iconfont/material-icons.css';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	list-style: none;
    font-family: 'Rubik', sans-serif;
}

:root{
    --blue: #5E50F9;
    --indigo: #6610f2;
    --purple: #6a008a;
    --pink: #E91E63;
    --red: #f96868;
    --orange: #f2a654;
    --yellow: #f6e84e;
    --green: #46c35f;
    --teal: #58d8a3;
    --cyan: #57c7d4;
    --white: #ffffff;
    --gray: #6c757d;
    --gray-dark: #0f1531;
    --blue: #5E50F9;
    --indigo: #6610f2;
    --purple: #6a008a;
    --pink: #E91E63;
    --red: #f96868;
    --orange: #f2a654;
    --yellow: #f6e84e;
    --green: #46c35f;
    --teal: #58d8a3;
    --cyan: #57c7d4;
    --white: #ffffff;
    --gray: #434a54;
    --gray-light: #aab2bd;
    --gray-lighter: #e8eff4;
    --gray-lightest: #e6e9ed;
    --black: #000000;
    --primary: #4B49AC;
    --secondary: #a3a4a5;
    --success: #57B657;
    --info: #248AFD;
    --warning: #FFC100;
    --danger: #FF4747;
    --light: #f8f9fa;
    --dark: #282f3a;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body::-webkit-scrollbar , #adminPanel::-webkit-scrollbar{
    width: 7px;
}

body::-webkit-scrollbar-thumb{
    background-color: var(--gray-light);
    border-radius: 5px;
}

.main-nav{
    width: 100%;
    height: 60px;
    background-color: var(--white);
    box-shadow: 0px 5px 21px -5px #cdd1e1;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    display: grid;
    grid-template-columns: 1fr 5fr 1.5fr;
}

.navbar-brand{
    width: 280px;
}

.navbar-brand{
    text-align: center;
    line-height: 60px;
    font-size: 13px;
}

.navbar-brand h1{
    font-weight: 500;
}

.navbar-info{
    padding: 10px 0px 10px 40px;
}

.section-form{
    position: relative;
}

.icon-search{
    position: absolute;
    left: 0;
    top: 10px;
    color: var(--gray-light);
}

.navbar-info input{
    width: 600px;
    height: 35px;
    border-radius: 10px;
    padding: 20px;
    font-size: 16px;
    margin-left: 15px;
}

.navbar-date{
    float: right;
    line-height: 40px;
    color: var(--gray-light);
}


.main-container{
    min-height: calc(100vh - 60px);
    padding-top: 60px;
    display: flex;
    flex-direction: row;
}

.sidebar{
    width: 280px;
    font-family: "Nunito", sans-serif;
    background-color: var(--white);
}

.sidebar .nav:not(.sub-menu){
    margin-top: 1.45rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.sidebar .nav{
    overflow: hidden;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-bottom: 60px;
}

.nav{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;   
}

.active{
    background-color: #4B49AC;
    color: var(--white) !important;
}

.inactive{
    background-color: #fff;
}

.nav-item:hover{
    background-color: #4B49AC;
    color: var(--white) !important;
    transition: 0.3s all;
}

.nav-item {
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding: 0.8125rem 1.037rem 0.8125rem 1rem;
    color: #6C7383;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 3px;
    font-weight: 400;
    transition: 0.3s all;
    font-size: 15px;
}

.icon-menu{
    margin-right: 15px;
    
}

.arrow-menu{
    margin-left: auto;
    margin-right: 0;
}

/* Contenido principal */

.main-panel{
    width: calc(100% - 650px);
    display: flex;
    flex-direction: column;
    height: 100%
}

.main-content{
    background-color: #f5f7ff;
    width: 100%;
    padding: 40px;
    border-left: 2px solid var(--gray-lightest);
    border-right: 2px solid var(--gray-lightest);
    min-height: calc(100vh - 40px);
}

.dashboard-message{
    padding: 50px 80px;
    background-color: #4b49ac29;
    border-radius: 15px;
    position: relative;
    margin-bottom: 50px;
}

.dashboard-message h2{
    color:#4B49AC;
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 30px;
}

.dashboard-message p{
    font-size: 17px;
    color: var(--gray);
    font-weight: 400;
    margin-bottom: 5px;
}


.dashboard-message img{
    position: absolute;
    width: 350px;
    right: 50px;
    top: -20px;
}

.dashboard-last-courses h2{
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 15px;
    color: var(--dark);
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 0px;
}

.course-card{
    background-color: #4d4cac;
    height: 120px;
    border-radius: 20px;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    cursor: pointer;
    transition: 0.2s all;
}

.course-card:hover{
    transform: translate(2px, -2px);
    transition: 0.2s all;
}

.course-card > span{
    background-color: #5a5ab2;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 25px;
}

.course-info-card{
    margin-top: 10px;
    position: relative;
}

.course-info-card > span{
    display: block;
}

.course-info-card > span:nth-child(1){
    color: var(--gray-light);
    font-weight: 400;
    margin-bottom: 10px;
}

.course-info-card > span:nth-child(2){
    color: #fff;
    font-weight: 500;
}

.icon-card{
    position: absolute;
    right: 0;
    bottom: 5px;
    color: #ffffff;
    font-size: 30px;
}

.students-page{
    position: relative;
}

.students-page h2{
    line-height: 40px;
    margin-bottom: 40px;
}

.buttonCreateStudent{
    align-items: center;
    background-color: var(--danger);
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    height: 50px;
    justify-content: center;
    margin-bottom: 30px;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.3s all;
    width: 200px;
}

.buttonCreateStudent:hover{
    background-color: #e13d3d;
    transition: 0.3s all;
}

.buttonCreateStudent i{
    margin-right: 10px;
    font-size: 20px;
}

.filter-students{
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 4fr 2fr;
    column-gap: 0;
    position: relative;
    padding: 20px;
    background-color:#dcdcf1 ;
    border-radius: 10px;
    box-shadow: 0px 5px 21px -5px #cdd1e154;
}

.input-section{
    position: relative;
}

.input-section input{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    padding: 0 0 0 50px;
    font-size: 15px;
}

.input-section label{
    position: absolute;
    top: 13px;
    left: 20px;
    font-size: 25px;
    color: var(--gray-light);
    z-index: 10;
    
}

.filter-students > button{
    background-color: #4b49ac;
    border-radius: 10px;
    margin-left: 30px;
    color: #fff;
    font-size: 15px;
    font-size: 15;
    position: relative;
    cursor: pointer;
    transition: 0.3s all;
}

.filter-students > button:hover{
    background-color: #5351db;
    transition: 0.3s all;
}

.option-selector{
    margin-left: 30px;
    border-radius: 10px;
    padding: 0 20px 0 20px;
    border-right: 18px solid transparent;
    font-size: 15px;
}


.student-form{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    column-gap: 50px;
    margin-top: 70px;
}

.form-student-card{
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 5px 290px -5px #7d7d7e54;
    padding: 50px;
    position: relative;
    z-index: 20;
}

.form-student-card h3{
    color: var(--dark);
    margin-bottom: 10px;
}

.inputs-students-form{
    margin-top: 30px;
}

.inputs-students-form input{
    display: block;
    width: 90%;
    height: 50px;
    background-color: var(--gray-lighter);
    border-radius: 10px;
    border: 1px solid var(--gray-lightest);
    margin: 5px 0 25px 0;
    padding: 0 0 0 20px;
    font-size: 16px;
}

.inputs-students-form button{
    width: 90%;
    height: 50px;
    border-radius: 10px;
    background-color: var(--info);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s all;
}

.inputs-students-form > button:hover{
    transform: translate(2px,-2px);
    transition: 0.2s all;
}

.students-metrics{
    width: 100%;
    height: 340px;
    border-radius: 20px;
    background-color: #141925;
    box-shadow: 0px 5px 21px -5px #08080854;
    position: relative;
    z-index: 21;
    color: #fff;
    font-size: 17px;
}

.students-counter{
    padding: 50px;
}

.students-counter h3{
    font-size: 44px;
    font-weight: 500;
    margin-bottom: 30px;
}

.userTable{
    margin-top: 40px;
}


#results{
    width: 100%;
    border-collapse: collapse; 
}

#results .userRow{
    height: 90px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.41);
}

#results .userTr{
    height: 60px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.41);
}

.adjustWidth{
    width: var(--aw);
}

#results tr th{
    font-weight: 500;
    text-align: left;
}

.logoUser{
    background-color: #ffddd2;
    padding: 15px;
    border-radius: 50%;
    margin-right: 20px;
    color: #c85c46;
}

#results tr:nth-child(2n+1) td .logoUser{
    background-color: #e6b4e5;
    color:#6b3f91;
}

#results tr:nth-child(3n+1) td .logoUser{
    background-color: #b9ead8;
    color:#348065;
}

#results tr:nth-child(4n+1) td .logoUser{
    background-color: #bfe9ff;
    color:#1c6b96;
}

.editUserButton{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: var(--orange);
    color: #fff;
    cursor: pointer;
    transition: 0.2s all;
}

.editUserButton:hover{
    transform: translate(1px, -1px);
    transition: 0.2s all;
}

.noResultsAlert{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    font-size: 20px;
}







/* Menu de widgets */

.widgets-menu{
    width: 370px;
    padding: 40px;
    position: fixed;
    right: 0;
    top: 60px;
}

.profile-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}

.profile-card h3{
    font-size: 50px;
    padding: 60px;
    border-radius: 50%;
    border: 4px solid var(--gray-lighter);
    margin-bottom: 30px;
}

.profile-card > p{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.profile-card > span{
   color: var(--gray-light); 
   font-weight: 500;
}

.widgets h3{
    font-size: 15px;
    color: var(--dark);
    margin-bottom: 20px;
}

.widget-option{
    width: 100%;
    height: 80px;
    background-color: var(--bg);
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    cursor: pointer;
    transition: 0.2s all;
}

.icon-widget{
    color: var(--color);
    font-size: 25px;
}


.widget-option:hover{
    transform: translate(2px, -2px);
    transition: 0.2s all;
}

.widget-option p{
    font-size: 16px;
    line-height: 25px;
    color: var(--dark);
}

/* Final footer */

footer{
    margin-top: 40px;
}

.final-footer{
    font-size: 15px;
    text-align: center;
    color: var(--dark);
}