@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
@import './material-icons/iconfont/material-icons.css';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	list-style: none;
    font-family: 'Rubik', sans-serif;
}

:root{
    --blue: #5E50F9;
    --indigo: #6610f2;
    --purple: #6a008a;
    --pink: #E91E63;
    --red: #f96868;
    --orange: #f2a654;
    --yellow: #f6e84e;
    --green: #46c35f;
    --teal: #58d8a3;
    --cyan: #57c7d4;
    --white: #ffffff;
    --gray: #6c757d;
    --gray-dark: #0f1531;
    --blue: #5E50F9;
    --indigo: #6610f2;
    --purple: #6a008a;
    --pink: #E91E63;
    --red: #f96868;
    --orange: #f2a654;
    --yellow: #f6e84e;
    --green: #46c35f;
    --teal: #58d8a3;
    --cyan: #57c7d4;
    --white: #ffffff;
    --gray: #434a54;
    --gray-light: #aab2bd;
    --gray-lighter: #e8eff4;
    --gray-lightest: #e6e9ed;
    --black: #000000;
    --primary: #4B49AC;
    --secondary: #a3a4a5;
    --success: #57B657;
    --info: #248AFD;
    --warning: #FFC100;
    --danger: #FF4747;
    --light: #f8f9fa;
    --dark: #282f3a;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body::-webkit-scrollbar , #adminPanel::-webkit-scrollbar{
    width: 7px;
}

body::-webkit-scrollbar-thumb{
    background-color: var(--gray-light);
    border-radius: 5px;
}

.main-nav{
    width: 100%;
    height: 60px;
    background-color: var(--white);
    box-shadow: 0px 5px 21px -5px #cdd1e1;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    display: grid;
    grid-template-columns: 1fr 5fr 1.5fr;
}

.navbar-brand{
    width: 280px;
}

.navbar-brand{
    text-align: center;
    line-height: 60px;
    font-size: 13px;
}

.navbar-brand h1{
    font-weight: 500;
}

.navbar-info{
    padding: 10px 0px 10px 40px;
}

.section-form{
    position: relative;
}

.icon-search{
    position: absolute;
    left: 0;
    top: 10px;
    color: var(--gray-light);
}

.navbar-info input{
    width: 600px;
    height: 35px;
    border-radius: 10px;
    padding: 20px;
    font-size: 16px;
    margin-left: 15px;
}

.navbar-date{
    float: right;
    line-height: 40px;
    color: var(--gray-light);
}


.main-container{
    min-height: calc(100vh - 60px);
    padding-top: 60px;
    display: flex;
    flex-direction: row;
}

.sidebar{
    width: 280px;
    font-family: "Nunito", sans-serif;
    background-color: var(--white);
}

.sidebar .nav:not(.sub-menu){
    margin-top: 1.45rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.sidebar .nav{
    overflow: hidden;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-bottom: 60px;
}

.nav{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;   
}

.active{
    background-color: #4B49AC;
    color: var(--white) !important;
}

.inactive{
    background-color: #fff;
}

.nav-item:hover{
    background-color: #4B49AC;
    color: var(--white) !important;
    transition: 0.3s all;
}

.nav-item {
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding: 0.8125rem 1.037rem 0.8125rem 1rem;
    color: #6C7383;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 3px;
    font-weight: 400;
    transition: 0.3s all;
    font-size: 15px;
}

.icon-menu{
    margin-right: 15px;
    
}

.arrow-menu{
    margin-left: auto;
    margin-right: 0;
}

/* Contenido principal */

.main-panel{
    width: calc(100% - 650px);
    display: flex;
    flex-direction: column;
    height: 100%
}

.main-content{
    background-color: #f5f7ff;
    width: 100%;
    padding: 40px;
    border-left: 2px solid var(--gray-lightest);
    border-right: 2px solid var(--gray-lightest);
    min-height: calc(100vh - 40px);
}

.dashboard-message{
    padding: 50px 80px;
    background-color: #4b49ac29;
    border-radius: 15px;
    position: relative;
    margin-bottom: 50px;
}

.dashboard-message h2{
    color:#4B49AC;
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 30px;
}

.dashboard-message p{
    font-size: 17px;
    color: var(--gray);
    font-weight: 400;
    margin-bottom: 5px;
}


.dashboard-message img{
    position: absolute;
    width: 350px;
    right: 50px;
    top: -20px;
}

.dashboard-last-courses h2{
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 15px;
    color: var(--dark);
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 0px;
}

.course-card{
    background-color: #4d4cac;
    height: 120px;
    border-radius: 20px;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    cursor: pointer;
    transition: 0.2s all;
}

.course-card:hover{
    transform: translate(2px, -2px);
    transition: 0.2s all;
}

.course-card > span{
    background-color: #5a5ab2;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 25px;
}

.course-info-card{
    margin-top: 10px;
    position: relative;
}

.course-info-card > span{
    display: block;
}

.course-info-card > span:nth-child(1){
    color: var(--gray-light);
    font-weight: 400;
    margin-bottom: 10px;
}

.course-info-card > span:nth-child(2){
    color: #fff;
    font-weight: 500;
}

.icon-card{
    position: absolute;
    right: 0;
    bottom: 5px;
    color: #ffffff;
    font-size: 30px;
}

.dashboard-students-and-metrics{
    width: 100%;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}

.last-students{
    width: 100%;
    padding: 40px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 5px 21px -5px #00000023;
}

.last-students h2{
    font-weight: 500;
    font-size: 17px;
}
















.students-page, .courses-page{
    position: relative;
}

.students-page h2, .courses-page h2{
    line-height: 40px;
    margin-bottom: 40px;
}

.buttonCreateStudent, .buttonCreateCourse{
    align-items: center;
    background-color: var(--danger);
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    height: 50px;
    justify-content: center;
    margin-bottom: 30px;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.3s all;
    width: 200px;
}

.buttonCreateStudent:hover, .buttonCreateCourse:hover{
    background-color: #e13d3d;
    transition: 0.3s all;
}

.buttonCreateStudent i, .buttonCreateCourse i{
    margin-right: 10px;
    font-size: 20px;
}

.filter-students, .filter-course{
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 4fr 2fr;
    column-gap: 0;
    position: relative;
    padding: 20px;
    background-color:#dcdcf1 ;
    border-radius: 10px;
    box-shadow: 0px 5px 21px -5px #cdd1e154;
}

.input-section{
    position: relative;
}

.input-section input{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    padding: 0 0 0 50px;
    font-size: 15px;
}

.input-section label{
    position: absolute;
    top: 13px;
    left: 20px;
    font-size: 25px;
    color: var(--gray-light);
    z-index: 10;
    
}

.filter-students > button,
.filter-course > button{
    background-color: #4b49ac;
    border-radius: 10px;
    margin-left: 30px;
    color: #fff;
    font-size: 15px;
    font-size: 15;
    position: relative;
    cursor: pointer;
    transition: 0.3s all;
}

.filter-students > button:hover,
.filter-course > button:hover{
    background-color: #5351db;
    transition: 0.3s all;
}

.option-selector{
    margin-left: 30px;
    border-radius: 10px;
    padding: 0 20px 0 20px;
    border-right: 18px solid transparent;
    font-size: 15px;
}


.student-form{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    column-gap: 50px;
    margin-top: 70px;
}

.courses-form{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    column-gap: 50px;
    margin-top: 70px;
}

.form-student-card, .form-courses-card{
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 5px 290px -5px #7d7d7e54;
    padding: 50px;
    position: relative;
    z-index: 20;
}

.form-student-card h3, .form-courses-card h3{
    color: var(--dark);
    margin-bottom: 10px;
}

.inputs-students-form, .inputs-courses-form{
    margin-top: 30px;
}

.inputs-students-form input, .inputs-courses-form input,
.selectCourseOption{
    display: block;
    width: 90%;
    height: 50px;
    background-color: var(--gray-lighter);
    border-radius: 10px;
    border: 1px solid var(--gray-lightest);
    margin: 5px 0 25px 0;
    padding: 0 0 0 20px;
    font-size: 16px;
}

.selectCourseOption{
    border-right: 18px solid transparent;
}

.inputs-students-form button, .inputs-courses-form button{
    width: 90%;
    height: 50px;
    border-radius: 10px;
    background-color: #ccc;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s all;
}

.form-icon{
    position: absolute;
    right: 0;
    font-size: 35px;
    top: 30px;
    display: none;
}

.form-icon-success{
    color: var(--success)
}

.form-icon-error{
    color: var(--red);
}

.inputs-students-form > button:hover,
.inputs-courses-form > button:hover{
    transform: translate(2px,-2px);
    transition: 0.2s all;
}

.students-metrics, .courses-metrics{
    width: 100%;
    height: 340px;
    border-radius: 20px;
    background-color: #141925;
    box-shadow: 0px 5px 21px -5px #08080854;
    position: relative;
    z-index: 21;
    color: #fff;
    font-size: 17px;
}

.courses-metrics{
    height: 280px !important;
    background-color: var(--info);
}

.students-counter, .courses-counter{
    padding: 50px;
}

.students-counter h3, .courses-counter h3{
    font-size: 44px;
    font-weight: 500;
    margin-bottom: 30px;
}

.coursesResultsGrid{
    margin-top: 40px;
}

#coursesResults{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.courseBox{
    color: #fff;
    cursor: pointer;
    width: 100%;
    transition: 0.1s all;
    box-shadow: 0px 5px 21px -5px #0000003d;
    position: relative;
    padding: 40px;
}

.courseBox:hover{
    transform: translate(2px, -2px);
    transition: 0.1s all;
}

.courseBox h3{
    font-size: 22px;
    font-weight: 500;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.courseBox:nth-child(1n+1){
    border-radius: 15px;
    background-color:#f2721f;
}

.courseBox:nth-child(2n+1){
    border-radius: 15px;
    background-color:#0080bc ;
}

.courseBox:nth-child(3n+1){
    border-radius: 15px;
    background-color: #1e3c50;
}

.courseBox:nth-child(4n+1){
    border-radius: 15px;
    background-color:#7952b3 ;
}

.icon-card-course{
    position: absolute;
    right: 25px;
    bottom: 20px;
    color: #ffffff;
    font-size: 30px;
}

/*#24baa6
#5c3882
#f08621
#156284
*/

.courseCode{
    margin-bottom: 30px;
}



/* Course info*/


.courseInfoSection{
    width: 100%;
}

.courseInfoTitle{
    position: relative;
    background-color: #4b49ac;
    height: 150px;
    border-radius: 15px;
    padding: 40px;
    margin-bottom: 30px;
}

.courseInfoTitle h3{
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 50px;
    line-height: 75px;
}

.courseInfoDetails{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    margin-bottom: 40px;
}

.courseInfoDetails > div{
    background-color: #fff;
    height: 100px;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0px 5px 21px -5px #0000003d;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.courseInfoDetails > div > div{
    display: block;
}

.card-course-title{
    font-size: 14px;
    color: var(--gray-light);
    font-weight: 500;
}

.course-icon{
    padding: 15px;
    background-color: #dfe7ff;
    border-radius: 15px;
    margin-right: 20px;
    color: #6688ee;
    font-size: 30px;
}

.noStudents{
    width: 55%;
    margin: auto;
    background-color: #fff;
    box-shadow: 0px 5px 21px -5px #0000003d;
    padding: 40px;
    border-radius: 15px
}

.noStudents h3{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}

.noStudents button{
    display: block;
    margin: auto;
    padding: 20px 80px;
    border-radius: 15px;
    background: var(--danger);
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s all;
}

.noStudents button:hover{
    background-color: #e13d3d;
    transition: 0.3s all;
    transform: translate(1px,-1px);
}

.enrollPopUp{
    display: grid;
    position: fixed;
    z-index: 1060;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    grid-template-areas:
        "top-start top top-end"
        "center-start center center-end"
        "bottom-start bottom-center bottom-end";
    height: 100%;
    padding: 0.625em;
    overflow-x: hidden;
    transition: background-color .1s;
    background-color: #0000008a;
}

.enrollPopUp > form{
    width: 700px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    background: #fff;
    padding: 40px;
}

.formExtend{
    width: 1000px !important;
}

.enrollPopUp > form > h3{
    text-align: center;
    margin-bottom: 30px;
    background-color: #4b49ac;
    color: #fff;
    font-weight: 500;
    padding: 30px;
    border-radius: 15px;
}

.enrollPopUp > form > label{
    width: 100%;
    display: block;
}

#selectStudents{
    width: 100%;
    height: 50px;
    background: var(--gray-lightest);
    border-radius: 10px;
    padding-left: 20px;
    margin-top: 10px;
    border-right: 18px solid transparent;
    font-size: 15px;
}

.grades{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    margin-top: 20px;
}

.gradesExtend{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grade{
    background-color: var(--gray-lightest);
    padding: 10px 20px;
    border-radius: 10px;
    height: 100px;
}

.grade label{
    width: 100%;
    text-align: center;
    display: block;
}

.grade input{
    height: 40px;
    border-radius: 10px;
    text-align: center;
    margin-top: 15px;
    width: 100%;
}

.enrollPopUp > form > button{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    margin-top: 30px;
    background-color: #4b49ac;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s all;
}

.enrollPopUp > form > button:hover{
    background-color: #5351db;
    transition: 0.3s all;
    transform: translate(2px,-2px);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] { -moz-appearance:textfield; }



.userTable, .userTable2{
    margin-top: 40px;
}

#lastStudents{
    margin-top: 30px;
}

#results, #lastStudents, #resultsCourse{
    width: 100%;
    border-collapse: collapse; 
}

#results .userRow, #resultsCourse .userRow{
    height: 90px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.41);
}

.userTr, .courseTr{
    height: 60px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.41);
}

.courseTr th {
    text-align: left;
    font-weight: 500;
}

.adjustWidth{
    width: var(--aw);
}

.studentRow{
    height: 70px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.41);
}

#resultsCourse{
    margin-bottom: 40px;
}

#results tr th, #lastStudents tr th{
    font-weight: 500;
    text-align: left;
}

.logoUser{
    background-color: #ffddd2;
    padding: 15px;
    border-radius: 50%;
    margin-right: 20px;
    color: #c85c46;
}

#results tr:nth-child(2n+1) td .logoUser,
#lastStudents tr:nth-child(2n+1) td .logoUser,
#resultsCourse tr:nth-child(2n+1) td .logoUser{
    background-color: #e6b4e5;
    color:#6b3f91;
}

#results tr:nth-child(3n+1) td .logoUser,
#lastStudents tr:nth-child(3n+1) td .logoUser,
#resultsCourse tr:nth-child(3n+1) td .logoUser{
    background-color: #b9ead8;
    color:#348065;
}

#results tr:nth-child(4n+1) td .logoUser,
#lastStudents tr:nth-child(4n+1) td .logoUser,
#resultsCourse tr:nth-child(4n+1) td .logoUser{
    background-color: #bfe9ff;
    color:#1c6b96;
}

.editUserButton{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: var(--orange);
    color: #fff;
    cursor: pointer;
    transition: 0.2s all;
}

.saveGradesButton{
    width: 80%;
    height: 40px;
    border-radius: 5px;
    background-color: var(--orange);
    color: #fff;
    cursor: pointer;
    transition: 0.2s all;
}

.deleteUserButton{
    width: 80%;
    height: 40px;
    border-radius: 5px;
    background-color: var(--dark);
    color: #fff;
    cursor: pointer;
    transition: 0.2s all;
}

.editUserButton:hover{
    transform: translate(1px, -1px);
    transition: 0.2s all;
}

.noResultsAlert{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    font-size: 20px;
}

.inputGrades{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    background-color: var(--gray-lightest);
    color: var(--black);
}

.inputFinalNote{
    width: 70%;
    height: 50px;
    border-radius: 10px;
    background-color: var(--gray-lightest);
    color: var(--black);
    text-align: center;
    line-height: 50px;
    font-weight: 400;
    font-size: 14px;
}

.inputGradesDisabled{
    display: none;
}

.edit-course{
    position: absolute;
    right: 20px;
    top: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

#formEditCourse > input{
    width: 100%;
    height: 50px;
    background: var(--gray-lightest);
    border-radius: 10px;
    padding-left: 20px;
    margin: 10px 0 20px 0;
    border-right: 18px solid transparent;
    font-size: 15px;
}


/* Menu de widgets */

.widgets-menu{
    width: 370px;
    padding: 40px;
    position: fixed;
    right: 0;
    top: 60px;
}

.profile-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}

.profile-card h3{
    font-size: 50px;
    padding: 60px;
    border-radius: 50%;
    border: 4px solid var(--gray-lighter);
    margin-bottom: 30px;
}

.profile-card > p{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.profile-card > span{
   color: var(--gray-light); 
   font-weight: 500;
}

.widgets h3{
    font-size: 15px;
    color: var(--dark);
    margin-bottom: 20px;
}

.widget-option{
    width: 100%;
    height: 80px;
    background-color: var(--bg);
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    cursor: pointer;
    transition: 0.2s all;
}

.icon-widget{
    color: var(--color);
    font-size: 25px;
}


.widget-option:hover{
    transform: translate(2px, -2px);
    transition: 0.2s all;
}

.widget-option p{
    font-size: 16px;
    line-height: 25px;
    color: var(--dark);
}

/* Final footer */

footer{
    margin-top: 40px;
}

.final-footer{
    font-size: 15px;
    text-align: center;
    color: var(--dark);
}